<div style="position: relative;
width: 100%;
overflow: hidden;
padding-top: 62.50%;
">
    <script data-test-selector="DeviceFingerprint"> window._cc = window._cc || [];
 _cc.push(['ci', { 'sid': 'd34c3b6505b24a76', 'tid': 'a985a5a2-6fe8-4ec5-aabe-f05e071d6d3b' }]);
 _cc.push(['cf', '34577395']);
 _cc.push(['run', 'https://devicefingerprint.pay1.preprod.secured-by-ingenico.com']);
 (function() {   var c = document.createElement('script');
   c.type = 'text/javascript';
   c.async = true;
   c.src = 'https://devicefingerprint.pay1.preprod.secured-by-ingenico.com/cc.js?ts=' + (new Date()).getTime();
   var s = document.getElementsByTagName('script')[0];
   s.parentNode.insertBefore(c, s);
 })();
 function doDevicefingerPrintSubmit(callback) {   _cc.push(['csd', callback]);
 }</script><noscript><img src="https://devicefingerprint.pay1.preprod.secured-by-ingenico.com/s1.gif?sid=d34c3b6505b24a76&amp;tid=a985a5a2-6fe8-4ec5-aabe-f05e071d6d3b"></noscript>
</div>