<div style="position: relative;width: 100%;overflow: hidden;height: 50%;" class="embed-container">
   <iframe
      src="{{ include.id }}"
      style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100%;border: none;"
      allowpaymentrequest>
   </iframe>
   <br><button id="redirect" class="float-left submit-button">Go to RPP</button>
   <script type="text/javascript">
      document.getElementById("redirect").onclick = function () {
          location.href = "{{ include.id }}";
      };
   </script>
</div>